@use "variables";

.generate {
  margin-bottom: variables.$separation-bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__button {
    padding: 1.5 * variables.$separation-sides;
  }

  &__img {
    width: 20rem;
  }

  &__title {
    text-align: left;
  }

  &__error {
    max-height: 0;
    overflow: hidden;

    &--active {
      max-height: fit-content;
    }

    &-text {
      padding: variables.$separation-sides;
    }
  }
}
