@use "variables";

.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (max-width: variables.$container-medium) {
    justify-content: center;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__logo {
    width: 6rem;
    height: 6rem;
  }

  &__img {
    height: 100%;
    width: 100%;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__anchor {
    display: flex;
    align-items: center;
    border-radius: 0.4rem;
    padding: 0.8 * variables.$separation-sides;
    box-shadow: variables.$box-shadow;
    margin-top: 0.5 * variables.$separation-header-small;
    margin-bottom: 0.5 * variables.$separation-header-small;

    &:hover {
      box-shadow: variables.$box-shadow-dark;
    }

    & * {
      line-height: 80%;
    }
  }

  &__title {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    text-shadow: variables.$text-shadow-strong;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header {
  border-bottom: variables.$border;
  position: sticky;
  top: -100%;
  width: 100%;
  z-index: 100;
  transition: 1.5s ease-in-out;

  &--show {
    transition: 1s;
    background: variables.$color-bar;
    top: 0;

    & > .header__wrapper {
      cursor: pointer;
    }
  }

  &__button {
    display: none;
    align-items: center;
    justify-content: center;
    margin: variables.$separation-logo;

    & span {
      color: variables.$color-dot;
      font-size: 2rem;
    }

    &--show {
      display: flex;
    }
  }

  &__anchor,
  &__button {
    margin-right: variables.$separation-header-large;

    @media screen and (max-width: variables.$container-large) {
      margin-right: variables.$separation-header-medium;
    }

    @media screen and (max-width: variables.$container-medium) {
      margin-right: variables.$separation-header-small;
    }
  }

  &__logo {
    margin: variables.$separation-logo;
  }
}
