@use "variables";

.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (max-width: variables.$container-medium) {
    justify-content: center;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__img {
    height: 100%;
    width: 100%;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__anchor {
    display: flex;
    align-items: center;
    border-radius: 0.4rem;
    padding: 0.8 * variables.$separation-sides;
    box-shadow: variables.$box-shadow-light;
    margin-top: 0.5 * variables.$separation-header-small;
    margin-bottom: 0.5 * variables.$separation-header-small;

    &:hover {
      box-shadow: variables.$box-shadow-dark;
    }

    & * {
      line-height: 80%;
    }
  }

  &__title {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    text-shadow: variables.$text-shadow-strong;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header {
  border-bottom: 1px groove variables.$color-dot;

  &__anchor {
    margin-right: variables.$separation-header-large;

    @media screen and (max-width: variables.$container-large) {
      margin-right: variables.$separation-header-medium;
    }

    @media screen and (max-width: variables.$container-medium) {
      margin-right: variables.$separation-header-small;
    }
  }

  &__logo {
    margin: variables.$separation-logo variables.$separation-header-large
      variables.$separation-logo variables.$separation-logo;
    width: 6rem;
    height: auto;

    @media screen and (max-width: variables.$container-large) {
      margin: variables.$separation-logo variables.$separation-header-medium
        variables.$separation-logo variables.$separation-logo;
    }

    @media screen and (max-width: variables.$container-medium) {
      margin: variables.$separation-logo variables.$separation-header-small
        variables.$separation-logo variables.$separation-logo;
    }
  }
}

.footer {
  border-top: 1px groove variables.$color-dot;

  &__anchor {
    margin-left: variables.$separation-header-large;

    @media screen and (max-width: variables.$container-large) {
      margin-left: variables.$separation-header-medium;
    }

    @media screen and (max-width: variables.$container-medium) {
      margin-left: variables.$separation-header-small;
    }

    & span {
      color: variables.$color-dot;
      transform: rotateZ(-90deg);
    }
  }

  &__logo {
    margin: variables.$separation-logo variables.$separation-logo
      variables.$separation-logo variables.$separation-header-large;
    width: 6rem;
    height: auto;

    @media screen and (max-width: variables.$container-large) {
      margin: variables.$separation-logo variables.$separation-logo
        variables.$separation-logo variables.$separation-header-medium;
    }

    @media screen and (max-width: variables.$container-medium) {
      margin: variables.$separation-logo variables.$separation-logo
        variables.$separation-logo variables.$separation-header-small;
    }
  }
}
