@use "variables";

.models {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 1.5 * variables.$separation-bottom;

  &__wrapper {
    width: 100vw;
    height: var(--img-height);
  }

  &__scroll {
    position: relative;
    transition: 1s;
  }

  &__slide {
    position: absolute;
    width: 100%;
  }

  &__img {
    width: 100%;

    &[alt="BMW Series 2 Coupe"] {
      transform: translate(5%, 7%);
    }

    &[alt="BMW Series 4"] {
      transform: translate(6.3%, 5.7%);
    }
  }
}

.controls {
  display: flex;

  @media screen and (max-width: variables.$container-small) {
  }

  &__item {
    width: 2.68rem;
    height: auto;

    &:nth-child(2) {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 10rem;
    }
  }

  &__label {
    position: absolute;
    font-family: "Broadbandoblique";
    font-size: 4rem;
    color: #b2bec3;
    text-shadow: variables.$text-shadow-strong;
    opacity: 0;
    top: -85%;

    &--active {
      opacity: 1;
      transition: 1s;
    }
  }

  &__name {
    display: none;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &--left {
    }
    &--right {
    }

    & img {
      filter: variables.$filter;
    }
  }

  &__arrow {
    width: 65%;

    &--left {
    }
    &--right {
      transform: rotateY(180deg);
    }
  }

  &__wheel {
    &--left {
      &:hover {
        transform: rotate(-25deg);
      }
      &:active {
        transform: rotate(-45deg);
      }
    }
    &--right {
      &:hover {
        transform: rotate(25deg);
      }
      &:active {
        transform: rotate(45deg);
      }
    }
  }
}
