@use "variables";

.models {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title {
    margin-bottom: 0;
  }

  &__wrapper {
    width: 100vw;
    height: var(--img-height);
    overflow: hidden;
  }

  &__scroll {
    position: relative;
    transition: 1s;
  }

  &__slide {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-6.5%);

    &--active {
      & > .models__img {
        cursor: pointer;
      }
    }
  }

  &__img {
    width: 70%;

    @media screen and (max-width: variables.$container-medium) {
      width: 80%;
    }

    &[alt="BMW 2 Series Coupe"] {
      transform: translate(4%, 5.5%);
    }

    &[alt="BMW 4 Series"] {
      transform: translate(5.5%, 5.2%);
    }

    &[alt="BMW 3 Series Touring"] {
      transform: translate(7%);
    }

    &[alt="BMW 5 Series Touring"] {
      transform: translate(6%);
    }

    &[alt="BMW 3 Series Sedan"] {
      transform: translate(2.5%);
    }

    &[alt="BMW 5 Series Sedan"] {
      transform: translate(3%, 1%);
    }

    &[alt="BMW 7 Series"] {
      transform: translate(1.5%, 1%);
    }

    &[alt="BMW M3"] {
      transform: translate(6%);
    }

    &[alt="BMW M4"] {
      transform: translate(8%);
    }

    &[alt="BMW M5"] {
      transform: translate(7%, -0.5%);
    }

    &[alt="BMW i3"] {
      transform: translate(8.5%);
    }

    &[alt="BMW i4"] {
      transform: translate(8.5%);
    }

    &[alt="BMW iX"] {
      transform: translate(11%, -1.5%);
    }

    &[alt="BMW X3"] {
      transform: translate(7%);
    }

    &[alt="BMW X5"] {
      transform: translate(5.5%, 0.5%);
    }

    &[alt="BMW X6"] {
      transform: translate(5.5%);
    }
  }

  &__nav {
    position: relative;

    @media screen and (max-width: variables.$container-small) {
      transform: translateY(-30%);
    }

    @media screen and (min-width: variables.$container-small) and (max-width: variables.$container-medium) {
      transform: translateY(-50%);
    }

    @media screen and (min-width: variables.$container-medium) {
      transform: translateY(-60%);
    }
  }
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: variables.$container-medium) {
    transform: translateY(120%);
  }

  &__item {
    width: 2.68rem;
    height: auto;
    margin: 0 15rem;

    @media screen and (max-width: variables.$container-large) {
      margin: 0 10rem;
    }

    @media screen and (max-width: variables.$container-medium) {
      margin: 0 0.5rem;
    }
  }

  &__name {
    display: none;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media screen and (max-width: variables.$container-medium) {
      width: 70%;
    }

    &--left {
    }
    &--right {
    }

    & img {
      filter: variables.$filter;
    }
  }

  &__arrow {
    width: 65%;

    &--left {
    }
    &--right {
      transform: rotateY(180deg);
    }
  }

  &__wheel {
    &--left {
      &:hover {
        transform: rotate(-25deg);
      }
      &:active {
        transform: rotate(-45deg);
      }
    }
    &--right {
      &:hover {
        transform: rotate(25deg);
      }
      &:active {
        transform: rotate(45deg);
      }
    }
  }
}

.labels {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  & * {
    margin: 0;
  }

  &__label {
    position: absolute;
    transform: translateY(55%);
    opacity: 0;
    z-index: 1;

    &--active {
      opacity: 1;
      transition: 1s;
      z-index: 2;
      cursor: pointer;
    }
  }

  &__text {
    font-family: "Broadbandoblique";
    font-size: 4rem;
    color: #b2bec3;
    text-shadow: variables.$text-shadow-strong;

    @media screen and (max-width: variables.$container-medium) {
      font-size: 2rem;
    }
  }
}
