@use "variables";

.models {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title {
    margin-bottom: 0;
  }

  &__wrapper {
    width: 100vw;
    height: var(--img-height);
    overflow: hidden;
    position: relative;
    z-index: 1;
    pointer-events: none;
  }

  &__scroll {
    position: relative;
    transition: 1s;
  }

  &__slide {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-6.5%);

    &--active {
      & > .models__img {
        cursor: pointer;
      }
    }
  }

  &__img {
    width: 70%;

    @media screen and (max-width: variables.$container-medium) {
      width: 80%;
    }

    &[alt="BMW 2 Series Coupe"] {
      transform: translate(4%, 5.5%);
    }

    &[alt="BMW 4 Series"] {
      transform: translate(5.5%, 5.2%);
    }

    &[alt="BMW 3 Series Touring"] {
      transform: translate(7%);
    }

    &[alt="BMW 5 Series Touring"] {
      transform: translate(6%);
    }

    &[alt="BMW 3 Series Sedan"] {
      transform: translate(2.5%);
    }

    &[alt="BMW 5 Series Sedan"] {
      transform: translate(3%, 1%);
    }

    &[alt="BMW 7 Series"] {
      transform: translate(1.5%, 1%);
    }

    &[alt="BMW M3"] {
      transform: translate(6%);
    }

    &[alt="BMW M4"] {
      transform: translate(8%);
    }

    &[alt="BMW M5"] {
      transform: translate(7%, -0.5%);
    }

    &[alt="BMW i3"] {
      transform: translate(8.5%);
    }

    &[alt="BMW i4"] {
      transform: translate(8.5%);
    }

    &[alt="BMW iX"] {
      transform: translate(11%, -1.5%);
    }

    &[alt="BMW X3"] {
      transform: translate(7%);
    }

    &[alt="BMW X5"] {
      transform: translate(5.5%, 0.5%);
    }

    &[alt="BMW X6"] {
      transform: translate(5.5%);
    }
  }

  &__nav {
    position: relative;
    z-index: 2;

    @media screen and (max-width: variables.$container-small) {
      transform: translateY(-30%);
    }

    @media screen and (min-width: variables.$container-small) and (max-width: variables.$container-medium) {
      transform: translateY(-50%);
    }

    @media screen and (min-width: variables.$container-medium) {
      transform: translateY(-60%);
    }
  }
}

.container__models {
  position: relative;
  z-index: 2;
}
