@use "variables";

.options {
  margin: 0 0 0.5 * variables.$separation-bottom;
  padding: 0;

  @media screen and (max-width: variables.$container-medium) {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0.25 * variables.$separation-bottom;
  }

  & * {
    text-align: center;
  }

  &__option {
    align-self: flex-start;
    border: variables.$border;
    border-radius: 1rem;
    margin-bottom: variables.$separation-sides;
    width: 84%;
    overflow: hidden;

    @media screen and (max-width: variables.$container-large) {
      align-self: auto;
    }

    &--open {
      & > .options__content {
        max-height: var(--option-height);
      }
    }
  }

  &__content {
    max-height: 0.01px; //if 0 doesn't animate
    transition: var(--timing-function);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: variables.$separation-sides;
    cursor: pointer;

    @media screen and (max-width: variables.$container-medium) {
      flex-direction: column;
      justify-content: center;
    }

    & * {
      line-height: 90%;
      padding: variables.$separation-sides;
    }

    & span {
      text-shadow: none;
      font-size: 0.95 * variables.$font-size-h4-medium;
    }

    & > .material-icons-round {
      color: gainsboro;
      margin-left: variables.$separation-sides;

      @media screen and (max-width: variables.$container-medium) {
        margin: variables.$separation-sides 0 variables.$separation-sides;
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    padding: 0;

    @media screen and (max-width: variables.$container-medium) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__subtitle {
    margin: 0;
    font-style: normal;
    font-size: variables.$font-size-h4-medium;
  }

  &__span {
    color: variables.$color-text-dark;
    transform: var(--subtitle-align);

    &--selected {
      color: inherit;
    }

    &-checkbox {
      margin: 0;
      padding: 0;
    }

    @media screen and (max-width: variables.$container-medium) {
      transform: translateX(0);
    }
  }

  &__choices {
    padding: variables.$separation-sides;
    border-top: variables.$border;
  }

  &__choice {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 2 * variables.$separation-sides;
    position: relative;
    margin-bottom: variables.$separation-sides;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__label {
    font-size: 0.65 * variables.$font-size-h4-large;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
    transform: translateX(-0.8 * (variables.$separation-sides));
    cursor: pointer;

    @media screen and (max-width: variables.$container-medium) {
      font-size: variables.$font-size-h4-small;
      justify-content: center;
      transform: translateX(-2 * (variables.$separation-sides));
    }
  }

  &__input {
    margin-left: variables.$separation-sides;
    transform: translateY(-15%);
  }

  &__title {
    @media screen and (max-width: variables.$container-medium) {
      margin-top: 0.7 * variables.$separation-bottom;
    }
    position: relative;
    z-index: 1;
  }

  &__buttons {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    // so that the buttons appear over elements in same hierarchy level

    @media screen and (max-width: variables.$container-large) {
      align-self: auto;
      align-items: center;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: variables.$border;
    border-radius: 1rem;
    padding: 0.8 * variables.$separation-sides;
    margin: 0.15 * variables.$separation-sides 0.25 *
      variables.$separation-sides 0.15 * variables.$separation-sides;
    background: variables.$color-bar;

    &:last-child {
      margin-bottom: variables.$separation-sides;
    }

    &-text {
      margin: 0;
      font-size: variables.$font-size-text-medium;

      @media screen and (max-width: variables.$container-medium) {
        font-size: variables.$font-size-text-small;
      }
    }

    & span {
      margin-left: 0.3 * variables.$separation-sides;
    }

    &:nth-child(2) {
      & span {
        transform: translateY(3%);
      }
    }
  }
}

.container__options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
