//// Margins, Paddings, Gaps
// Sections
$separation-bottom: 10rem;
$separation-sides: 1rem;
// Text
$separation-text-bottom: 2rem;
// Grid
$separation-grid-gap: 0.75rem;
// Header & Footer
$separation-header-large: 1rem;
$separation-header-medium: 0.7rem;
$separation-header-small: 0.4rem;
// Logo
$separation-logo: 0.3125rem;

//// Container sizes for responsive
$container-large: 69rem;
$container-medium: 48rem;
$container-small: 23rem;
$container-x-small: 17.5rem;

//// Colors
$color-background: linear-gradient(
  to right bottom,
  #1d2033,
  #171a2b,
  #121424,
  #0b0b1d,
  #000016
);
$color-text: whitesmoke;
$color-dot: gainsboro;
$color-transparent-theme: transparentize(
  $color: #1d2033,
  $amount: 0.1%,
);
$color-bar: #171a2b;
$color-transparent-element: transparentize(
  $color: gainsboro,
  $amount: 0.9%,
);

//// Font sizes
// h2: title
$font-size-h2-large: 3.125rem;
$font-size-h2-medium: 2.5rem;
$font-size-h2-small: 1.875rem;
// h3: subtitle
$font-size-h3-large: 1.875rem;
$font-size-h3-small: 1.6875rem;
// h4: header & footer
$font-size-h4-large: 1.6875rem;
$font-size-h4-medium: 1.2rem;
$font-size-h4-small: 1rem;
// text
$font-size-text-large: 1.125rem;
$font-size-text-medium: 1rem;

//// Shadows
// Boxes
$box-shadow-light: rgba(0, 0, 0, 0.12) 0px 1px 3px,
  rgba(0, 0, 0, 0.24) 0px 1px 2px;
$box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px,
  rgba(0, 0, 0, 0.15) 0px 2px 6px 2px;
$box-shadow-dark: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px;
$box-shadow-dark-inset: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
//Text
$title-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
$text-shadow-strong: 2px 2px 0px #000, -2px -2px 0px #000, 2px -2px 0px #000,
  -2px 2px 0px #000;
$text-outline: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000,
  1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
