@use "variables";

.welcome {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  transition: 1.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  z-index: 200;

  &__title {
    font-family: "Broadbandoblique";
    transition: 10s;
    margin: 0;
    position: relative;
    left: -0.5%;
  }

  &__img {
    transition: 9s;
  }

  &__title,
  &__img {
    opacity: 0;
  }
}
