@use "variables";

.grid {
  margin: variables.$separation-bottom 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: variables.$separation-grid-gap;

  @media screen and (max-width: variables.$container-large) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: variables.$container-medium) {
    grid-template-columns: 1fr;
  }

  &__card {
    transition: 1s;

    @media screen and (min-width: variables.$container-medium) {
      &:hover {
        z-index: 10;
        transform: scale(1.1);
      }
      &:not(:hover) {
        transition: 750ms;
      }
    }
  }

  &__link {
  }

  &__img {
    border-radius: 0.5rem;
    box-shadow: variables.$box-shadow-light;

    &:hover {
      box-shadow: variables.$box-shadow-dark;
    }
  }

  &__title {
  }
}
