.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.75rem;

  &__card {
    &:hover {
      transform: scale(1.1);
      transition: 500ms;
    }
  }
  &__link {
  }
  &__img {
  }
}
