@use "variables";

//       ntn-child(3n)      nth-child(even)
//       header a aparecer e desaparecer
//       social no footer
//       welcome a injetar nome no user
//       accordion com options
//       page proposal to print
//       form contact
//       react

.grid {
  margin-bottom: variables.$separation-bottom;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: variables.$separation-grid-gap;

  @media screen and (max-width: variables.$container-large) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: variables.$container-medium) {
    grid-template-columns: 1fr;
  }

  &__card {
    position: relative;
    z-index: 1;
    transition: transform 1s, z-index 0s;
    display: flex;
    justify-content: end;

    @media screen and (min-width: variables.$container-medium) {
      &:hover {
        transform: scale(1.1);
        z-index: 2;
      }

      &:not(:hover) {
        transition: transform 750ms;
      }
    }

    @media screen and (max-width: variables.$container-medium) {
      justify-content: center;
    }
  }

  &__link {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;

    @media screen and (min-width: variables.$container-medium) {
      &:hover {
        & > .grid__img {
          box-shadow: variables.$box-shadow-dark-inset;
          border-radius: 0.5rem 0 0 0.5rem;
        }

        & + .grid__layer {
          transform: translateX(98%);
          transition: 1s;
        }
      }
    }

    @media screen and (max-width: variables.$container-medium) {
      z-index: 0;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    box-shadow: variables.$box-shadow-light;
  }

  &__title {
    margin-top: 0.5 * variables.$separation-bottom;
  }

  &__layer {
    position: absolute;
    bottom: 0;
    width: 92%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: transparentize($color: #1d2033, $amount: 0.1%);
    border-radius: 0 0.5rem 0.5rem 0;

    @media screen and (max-width: variables.$container-medium) {
      width: 101%;
      border-radius: 0.5rem;
      justify-content: space-between;
    }
  }

  &__subtitle {
    font-size: variables.$font-size-h2-small;
    margin: variables.$separation-sides 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

    @media screen and (max-width: variables.$container-medium) {
      font-size: variables.$font-size-text-medium;
    }
  }

  &__models {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__model {
    display: inline-block;
    height: var(--model-height);
    width: auto;
    position: relative;
    left: 5%;

    &[alt="BMW 1 Series"] {
      left: 2%;
    }

    &[alt="BMW M8"] {
      left: 0;
    }

    @media screen and (min-width: variables.$container-medium) {
      &[alt="BMW 2 Series Active Tourer"] {
        left: 0;
      }
    }

    @media screen and (max-width: variables.$container-medium) {
      &[alt="BMW 2 Series Active Tourer"] {
        left: 2.5%;
      }
    }
  }
}
