@use "variables";

.history {
  margin-bottom: variables.$separation-bottom;

  &__title {
  }

  &__text {
    font-size: variables.$font-size-text-large;

    @media screen and (max-width: variables.$container-large) {
      font-size: variables.$font-size-text-medium;
    }

    margin-bottom: variables.$separation-text-bottom;
  }
  &__wiki {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 variables.$separation-sides;
    margin-bottom: variables.$separation-bottom;
  }

  &__subtitle {
  }

  &__pic {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    &-logos {
      max-height: 50rem;
      border-radius: 0.5rem;
      box-shadow: variables.$box-shadow-dark;
    }
    &-wiki {
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
