@use "variables";

.history {
  margin-bottom: variables.$separation-bottom;

  &__title {
  }

  &__text {
    font-size: variables.$font-size-text-large;

    @media screen and (max-width: variables.$container-large) {
      font-size: variables.$font-size-text-medium;
    }

    margin-bottom: variables.$separation-text-bottom;
  }

  &__subtitle {
  }

  &__pic {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    max-height: 50rem;
    box-shadow: variables.$box-shadow-dark;
  }
}
