@use "variables";

.models {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__wrapper {
    display: inline-block;
    width: calc((1 / 3) * 100vw);
    height: calc((1 / 3) * 100vh);
    overflow: hidden;
  }

  &__pic {
    /*&:not(:first-child) {
      // TEMP
      display: none;
    }*/
  }

  &__img {
    width: 100%;
  }
}

.controls-slider {
  &__item {
  }

  &__button {
  }
}
