@use "variables";

.models {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((0.7) * 100vw);
    height: var(--img-height);
    overflow: hidden;
  }

  &__slide {
    position: absolute;
    width: 100%;
  }

  &__img {
    width: 100%;
  }
}

.controls {
  &__text {
  }
  &__item {
    position: absolute;
    width: 4%;
    height: auto;
    &--left {
      left: 0;
    }
    &--right {
      right: 0;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &--left {
    }
    &--right {
    }

    & img {
      filter: invert(100%) sepia(0%) saturate(2916%) hue-rotate(114deg)
        brightness(119%) contrast(73%);
    }
  }

  &__arrow {
    width: 65%;
    &--left {
    }
    &--right {
      transform: rotateY(180deg);
    }
  }

  &__wheel {
    &--left {
      &:hover {
        transform: rotate(-25deg);
      }
      &:active {
        transform: rotate(-45deg);
      }
    }
    &--right {
      &:hover {
        transform: rotate(25deg);
      }
      &:active {
        transform: rotate(45deg);
      }
    }
  }
}
