@use "variables";

.news {
  margin-bottom: variables.$separation-bottom;
  flex-direction: column;
  box-shadow: variables.$box-shadow-dark;
  border: 0.9375rem solid;
  border-top: 1.25rem solid;
  border-bottom: 3rem solid;
  border-color: rgb(40, 40, 40);
  border-radius: 0.875rem;
  position: relative;

  @media screen and (max-width: variables.$container-medium) {
    border: 0.625rem solid;
    border-top: 0.9375rem solid;
    border-bottom: 3rem solid;
    border-color: rgb(40, 40, 40);
  }

  &__link {
    cursor: pointer;
    width: 100%;
    height: 44rem;

    @media screen and (max-width: variables.$container-large) {
      height: 33rem;
    }
  }

  &__iframe {
    border: none;
    pointer-events: none;
    width: 100%;
    height: 100%;
  }

  &__title {
  }

  &__go-to {
    display: none;
    position: absolute;
    top: 102.3%;
    width: 100%;

    @media screen and (max-width: variables.$container-x-small) {
      display: block;
    }

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-text {
      margin: 0;
      padding: 0;
    }
  }

  &__controls {
    position: absolute;
    top: 101.55%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.625rem;

    @media screen and (max-width: variables.$container-large) {
      font-size: 1.5625rem;
      top: 102%;
    }

    @media screen and (max-width: variables.$container-medium) {
      font-size: 1.375rem;
      top: 102.2%;
    }

    @media screen and (max-width: variables.$container-x-small) {
      display: none;
    }
  }

  &__buttons {
    display: flex;
    padding-right: variables.$separation-sides;
  }

  &__prev {
  }

  &__play {
  }

  &__pause {
    display: none;
  }

  &__next {
  }

  &__dots {
    display: flex;
    justify-content: center;
    align-items: center;

    & li {
      margin-right: 0.4rem;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__dot,
  &__dot-active {
    cursor: pointer;
    border: 1px solid variables.$color-dot;
    border-radius: 50%;
    width: 0.75rem;
    height: 0.75rem;

    @media screen and (max-width: variables.$container-large) {
      width: 0.6875rem;
      height: 0.6875rem;
    }

    @media screen and (max-width: variables.$container-medium) {
      width: 0.625rem;
      height: 0.625rem;
    }
  }

  &__dot {
    &-active,
    &:hover {
      background: variables.$color-dot;
    }
  }
}
