// Margins, Paddings, Gaps
// Sections
$separation-bottom: 10rem;
$separation-sides: 1rem;
// Text
$separation-text-bottom: 2rem;
// Grid
$separation-grid-gap: 0.75rem;

// Container sizes for responsive
$container-large: 69rem;
$container-medium: 48rem;
$container-small: 23rem;
$container-x-small: 17.5rem;

// Colors
$color-background: rgb(29, 32, 51);
$color-text: whitesmoke;
$color-dot: gainsboro;

// Font sizes
// h2: title
$font-size-h2-large: 3.125rem;
$font-size-h2-medium: 2.5rem;
$font-size-h2-small: 1.875rem;
// h3: subtitle
$font-size-h3-large: 1.875rem;
$font-size-h3-small: 1.6875rem;
// text
$font-size-text-large: 1.125rem;
$font-size-text-medium: 1rem;

// Shadows
$box-shadow-light: rgba(0, 0, 0, 0.12) 0px 1px 3px,
  rgba(0, 0, 0, 0.24) 0px 1px 2px;
$box-shadow-dark: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
$title-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
