@use "variables";

.welcome {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  transition: 1.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  z-index: 20;

  &__title {
    font-family: "Broadbandoblique";
    transition: 10s;
    margin: 0;
  }

  &__img {
    transition: 9s;
  }

  &__title,
  &__img {
    opacity: 0;
  }
}
